body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.hero {
    background-color: #1F2937;
}

.section-I {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 1020px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 10px 10px;
    margin: 0;
    max-width: 150px;
    flex: 1;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0;
    padding: 10px 10px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    padding: 10px;
    width: 150px;
    font-weight: bolder;
    font-size: large;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    flex: 1;
    margin-bottom: 120px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    gap: 10px;
    align-items: flex-start;
}


img {
    width: 500px;
    height: 250px;
}

.section-II {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 50px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.text {
    max-width: 150px;
    color: rgb(85, 83, 83);
}

.info img {
    border: 5px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 25px;
}